/* Reset */
html, body, div, h2, a, ol, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }

/* Mon style */
body, a {
  color: #5d6574;
  font-family: Arial;
}

ul { list-style-type: none; }

.enveloppe {
  margin: 0 auto;
  max-width: 866px;
  padding: 0 18px;
}

.pieces {
  padding-top: 2em;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

  .pieces p, .pieces ul { margin-bottom: 32px; }

.gros-bloc {
  letter-spacing: normal;
  width: 49%;
  margin-right: 2%;
  display: inline-block;
  overflow: hidden;
  font-family: 'Average Sans';

  &:last-child {
    margin-right: 0;
  }

  a { font-family: 'Average Sans'; }
  article { padding-right: 18px; }
  img { width: 100%; }
  h2 {
    line-height: 48px;
    font-size: 24px;
    padding: 0 18px;
    margin: 0 0 12px;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  h2.pro { background-color: #595781; }
  h2.perso { background-color: #008190; }
  li {
    padding-left: 18px;
    font-size:  24px;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
  }
}

.lettre {
  font-family: Courier;
  font-size: 18px;
  line-height:36px;
}

li.mini {
  line-height:18px;
  font-size:14px;
}

.cv {
  ul { margin-bottom: 1em; }
  li {
    font-size: 15px;
    line-height: 18px;
  }

  li li {
    font-size: 13px;
  }
  .detail {
    color: #849BB5;
    font-size: 13px;
  }
  .pieces p {
    margin-bottom: 1em;
    line-height: 18px;
  }
}

.cv-entete {
  padding-top: 3em;
}

@media (max-width: 856px) {
  .lettre .corps br { display: none; }
}
@media (max-width: 680px) {
  .lettre {
    font-size: 15px;
    line-height: 28px;
  }
  .gros-bloc {
    width: 100%;
    margin: 0;

    li {
      line-height: 38px;

      &.mini {
        font-size: 18px;
      }
    }
  }
}

@media print {
  .cv {
    -webkit-text-size-adjust: none;

    li {
      font-size: 13px;
      line-height: 15px;
      padding-left: 0.5em;
    }
    li li {
      font-size: 11px;
    }
    .detail {
      font-size: 11px;
    }
    .pieces p {
      line-height: 18px;
    }
  }
  .gros-bloc { width: 50% };
  .page-break { page-break-before: always; }
}

.img-high {
  display: none;
}

@media only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi) {

  .img-small {
    display: none;
  }
  .img-high {
    display: inline;
  }
}
